.articles-header {
  position: relative;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //overflow: auto;
  text-align: center;
  color: white;

  @media screen and (max-width: $bp-mw-md) {
    height: 300px;
  }
}

.articles-no-results {
  font-size: 1.6rem;
  padding: 0 2rem;
}

.articles-header-overlay {
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.articles-header-content {
  width: 100%;
  padding: 0 3rem;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include text-shadow;

  p {
    font-size: 2rem;
    margin: 0;
    font-weight: 500;

    @media screen and (max-width: $bp-mw-sm) {
      display: none;
    }
  }

  @media screen and (max-width: $bp-mw-md) {
    p {
      font-size: 1.6rem;
    }
  }
}

.articles-header-title {
  font-size: 4.8rem;
  margin: 0.5rem 0;
  font-weight: 800;

  @media screen and (max-width: $bp-mw-md) {
    font-size: 3.6rem;
  }
}

.articles-cat-container {
  padding: 2rem 0;
}

.articles-cat-item {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;

  @media screen and (max-width: $bp-mw-xmd) {
    flex-direction: column;

    & > img {
      flex-basis: 100%;
      min-height: 160px;
    }
  }

  &:hover, &:active, &:visited {
    color: white;
  }

  & > img {
    min-width: 0;
    display: block;
    flex-basis: 65%;
    object-fit: cover;
  }

}

.articles-cat-item:nth-child(1) .articles-cat-item-desc {
  background-color: $colYellow1;
}

.articles-cat-item:nth-child(2) .articles-cat-item-desc {
  background-color: $colGreen1;
}

.articles-cat-item:nth-child(3) .articles-cat-item-desc {
  background-color: $colRed1;
}

.articles-cat-item-desc {
  padding: 1rem 2rem;
  flex-basis: 35%;
  background-color: $colBlue1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-size: 1.6rem;
    margin: 0.5rem 0;

    @media screen and (max-width: $bp-mw-md) {
      font-size: 1.4rem;
    }
  }

  @media screen and (max-width: $bp-mw-xmd) {
    flex-basis: 100%;
    padding: 3rem 2rem;
  }
}

.articles-cat-item-title {
  font-size: 2.8rem;
  font-weight: 500;
  margin: 0;

  @media screen and (max-width: $bp-mw-md) {
    font-size: 2rem;
  }
}

.article-posts-title {
  text-align: center;
  font-size: 3.6rem;
  margin: 2rem 0;
  color: $colBlue1;
}

.article-posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem;
}

.article-post-container {
  padding: 1rem;
  flex-basis: 33%;

  @media screen and (max-width: $bp-mw-xmd) {
    flex-basis: 50%;
  }

  @media screen and (max-width: $bp-mw-sm) {
    flex-basis: 100%;
  }
}

.article-post {
  border: 1px solid $colGrey1;
  padding: 1rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .sm-btn-link {
    margin-top: auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.article-post-thumb-container {
  position: relative;
  width: 100%;
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    background-color: black;
  }
}

.article-post-title {
  margin: 0;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 10;
  padding: 0 2rem;
  @include text-shadow;
  font-weight: 500;
  font-size: 1.8rem;
}

.article-post-thumb {
  display: block;
  width: 100%;
}

/** For articles on article category page **/
.article-container {
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
}

.article-heading {
  color: $colBlue1;
  font-size: 3.6rem;
  line-height: 1.2;
  margin: 0.2rem 0;

  &.main {
    font-size: 4.2rem;
    font-weight: 800;
  }

  @media screen and (max-width: $bp-mw-xmd) {
    font-size: 2.4rem;
    &.main {
      font-size: 3.2rem;
    }
  }
}

.article-subheading {
  color: $colBlue1;
  font-size: 1.8rem;
  margin: 0 0 1.6rem 0;

  @media screen and (max-width: $bp-mw-xmd) {
    font-size: 1.6rem;
  }
}

.article-content {
  p {
    margin: 1rem 0;
    font-size: 1.6rem;

    @media screen and (max-width: $bp-mw-xmd) {
      font-size: 1.4rem;
    }
  }

  ol, ul {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    margin-left: 2rem;
    text-align: left;
  }

  img {
    display: block;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
}

.article-video-iframe {
  width: 100%;

  .iframe-container {
    position: relative;
    background-color: white;
    width: 100%;
    padding-top: 56.25%;
  }

  iframe {
    padding: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}


/** For single article post **/
.article-single-container {
  display: flex;
  flex-wrap: wrap;
}

.article-single-content-container {
  padding: 1rem;
  flex-basis: 70%;

  @media screen and (max-width: $bp-mw-xmd) {
    flex-basis: 100%;
  }
}

.article-single-sidebar-container {
  padding: 1rem;
  flex-basis: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .article-post-container {
    flex-basis: auto;
    padding: 0.5rem;
  }

  @media screen and (max-width: $bp-mw-xmd) {
    flex-basis: 100%;
    flex-direction: row;

    .article-post-container {
      flex-basis: 50%;
    }
  }

  @media screen and (max-width: $bp-mw-sm) {
    .article-post-container {
      flex-basis: 100%;
    }
  }
}

.article-single-title {
  color: $colBlue1;
  font-weight: 800;
  font-size: 3.2rem;
  margin: 1rem 0;
  line-height: 1;
}

.article-single-readmore {
  padding: 0 1rem;
  margin: 2rem 0 0.5rem;
  font-weight: 500;

  @media screen and (max-width: $bp-mw-xmd) {
    flex-basis: 100%;
  }
}

.article-single-content {
  padding: 1rem;
  font-size: 1.6rem;

  ol, ul {
    padding: 0;
    margin-bottom: 0;
    margin-left: 2rem;
  }

  img {
    display: block;
    width: 100%;
  }

  @media screen and (max-width: $bp-mw-md) {
    font-size: 1.4rem;
  }
}