.contact-container {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  justify-content: center;
}

.contact-item-container {
  flex-basis: 50%;
  padding: 2rem;

  @media screen and (max-width: $bp-mw-md) {
    flex-basis: 100%;
  }
}

.contact-item {
  display: flex;
  align-items: top;
}

.contact-item-content {
  padding: 0 1rem 0 2rem;
}

.contact-item-icon {
  max-width: 60px;
  max-height: 60px;
}

.contact-item-title {
  margin: 0;
  font-size: 2rem;
  color: $colBlue2;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 800;
}

.contact-item-desc {
  margin: 0.5rem 0;
  p {
    margin: 0.4rem 0;
  }

  .sm-link {
    word-break: break-all;
  }
}