.faq-title {
  font-size: 4.8rem;
  text-align: center;
  color: $colBlue1;
  margin: 1rem 0;
  line-height: 1.2;

  @media screen and (max-width: $bp-mw-md) {
    font-size: 3.6rem;
  }
}

.faq-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.faq-item {
  background-color: $colGreen2;
  margin: 0.5rem 0;
}

.faq-question-container {
  position: relative;

  &.active {
    .faq-icon > span{
      background-color: $colGreen1;

      &:nth-child(2) {
        display: none;
      }
    }

    .faq-question {
      color: $colGreen1;
    }
  }
}

.faq-question {
  
  color: $colBlue2;
  margin: 0;
  padding: 1.5rem 4rem 1.5rem 2rem;
  cursor: pointer;
  font-size: 1.8rem;

  &:hover {
    background-color: $colLightBlue2;
  }

  @media screen and (max-width: $bp-mw-md) {
    font-size: 1.6rem;
  }
}

.faq-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  margin-top: -8px;

  span {
    display: block;
    position: absolute;
    background-color: $colBlue2;

    &:nth-child(1) {
      width: 100%;
      height: 4px;
      top: 6px;
    }

    &:nth-child(2) {
      width: 4px;
      height: 100%;
      left: 6px;
    }
  }
}

.faq-answer {
  display: none;
  border-top: 1px solid $colGreen1;
  padding: 2rem 3rem;
  font-size: 1.6rem;

  @media screen and (max-width: $bp-mw-md) {
    font-size: 1.4rem;
  }

  p {
    margin: 0.4rem 0;
  }

  ol, ul {
    padding: 0;
    margin-bottom: 0;
    margin-left: 2rem;
  }

  img {
    display: block;
    padding: 1rem 0;
  }
}