@font-face {
  font-family:"Brevia";
  src: url("./assets/fonts/Brevia-Regular.woff") format("woff");
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family:"Brevia";
  src: url("./assets/fonts/Brevia-Medium.woff") format("woff");
  font-style:normal;
  font-weight:500;
}

@font-face {
  font-family:"Brevia";
  src: url("./assets/fonts/Brevia-Bold.woff") format("woff");
  font-style:normal;
  font-weight:700;
}

@font-face {
  font-family:"Brevia";
  src: url("./assets/fonts/Brevia-Black.woff") format("woff");
  font-style:normal;
  font-weight:800;
}