.footer {
  color: white;
  background-color: $colBlue1;
}

.footer-feature-container {
  background-color: $colBlue3;
  width: 100%;
  padding: 2rem;
}

.footer-feature {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: inline-block;
  }

  @media screen and (max-width: $bp-mw-lg) {
    flex-wrap: wrap;
    img {
      width: 100%;
      max-width: 50rem;
    }
  }

  @media screen and (max-width: $bp-mw-md) {
    img {
      max-width: 40rem;
    }
  }
}

.footer-dha {
  text-align: center;
  padding: 0 2rem;

  @media screen and (max-width: $bp-mw-lg) {
    img {
      width: 100%;
      max-width: 40rem;
    }
  }

  @media screen and (max-width: $bp-mw-md) {
    img {
      max-width: 30rem;
    }
  }
}

.footer-dha-title {
  font-size: 3.6rem;
  margin: 0;
  text-transform: uppercase;

  @media screen and (max-width: $bp-mw-md) {
    font-size: 3rem;
  }
}

.footer-disclaimer {
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.footer-info {
  width: 100%;
  margin: 0 auto;
  max-width: $bp-lg;
  padding: 2rem 2rem;

  @media screen and (max-width: $bp-mw-md) {
    text-align: center;
  }
}

.footer-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 700;
}

.footer-site-link {
  display: inline-block;
  width: 140px;
  padding: 0 1rem;

  @media screen and (max-width: $bp-mw-sm) {
    width: 120px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $bp-mw-md) {
    flex-direction: column;
    justify-content: center;
  }
}

.footer-copyright {
  flex-basis: 50%;
  font-size: 1.2rem;
  margin: 0;

  span {
    @include font-arial(false, false, 400, false);
  }
}

.footer-nav {
  font-size: 1.2rem;
}

.footer-nav-links {
  flex-basis: 50%;
  display: block;
  padding-inline-start: 0;
  margin: 0;

  & > li {
    display: inline-block;
    padding: 0 0.3rem;

    & > a {
      color: white;
      text-decoration: none;
      display: inline-block;
    }
  }

  @media screen and (max-width: $bp-mw-md) {
    padding: 2rem 0 1rem;
  }
}