//min-width
$bp-lg: 1280px;
$bp-xmd: 960px;
$bp-md: 768px;
$bp-sm: 576px;

//max-width
$bp-mw-lg: 1279.98px;
$bp-mw-xmd: 959.98px;
$bp-mw-md: 767.98px;
$bp-mw-sm: 575.98px;

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  @include font-brevia(1.4rem, false, 400, false);
}

.main-container {
  max-width: $bp-lg;
  margin: 0 auto;
  padding: 2rem 1rem;

  @media screen and (max-width: $bp-mw-md) {
    padding: 2rem 0.5rem;
  }
}

.sm-content-container {
  padding: 2rem;

  ol, ul {
    margin-bottom: 0;
    margin-left: 2rem;
    padding: 0;
  }

  a {
    color: $colBlue1;
    text-decoration: none;
    &:visited, &:hover, &:active {
      color: $colBlue1;
    }
  }
}

.sm-header {
  position: relative;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //overflow: auto;
  text-align: center;
  color: white;

  @media screen and (max-width: $bp-mw-md) {
    height: 300px;
  }
}

.sm-header-container {
  position: relative;
}

.sm-header-responsive {
  position: relative;
  width: 100%;
  padding-bottom: 26%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &.mobile {
    display: none;
    padding-bottom: 112.5%
  }

  @media screen and (max-width: $bp-mw-md) {
    display: none;
    &.mobile {
      display: block;
    }
  }
}

.sm-header-overlay {
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
}

.sm-header-content {
  width: 100%;
  padding: 0 3rem;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include text-shadow;

  p {
    font-size: 2rem;
    margin: 0;
    font-weight: 500;

    @media screen and (max-width: $bp-mw-sm) {
      display: none;
    }
  }

  @media screen and (max-width: $bp-mw-md) {
    p {
      font-size: 1.6rem;
    }
  }
}

.sm-header-title {
  font-size: 4.8rem;
  margin: 0.5rem 0;
  font-weight: 800;
  line-height: 1.2;

  @media screen and (max-width: $bp-mw-md) {
    font-size: 3.6rem;
  }
}

.sm-btn-link {
  display: inline-block;
  text-decoration: none;
  background-color: $colBlue2;
  padding: 1rem 1.6rem;
  color: white;
  border-radius: 6px;
  transition: background-color 0.2s ease-in-out;
  text-align: center;

  &:visited {
    color: white;
  }

  &.lg {
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-weight: 500;
  }

  &.dl123 {
    background-color: $colGreen1;
  }

  &.dl456 {
    background-color: $colYellow1;
  }

  &.dl6 {
    background-color: $colRed1;
  }

  &:hover {
    color: white;
    background-color: $colDarkBlue2;

    &.dl123 {
      background-color: $colGreen3;
    }
  
    &.dl456 {
      background-color: $colYellow2;
    }
  
    &.dl6 {
      background-color: $colRed2;
    }
  }
}

.sm-btn-tab {
  position: relative;
  border-radius: 4px;
  background-color: white;
  border: 3px solid $colBlue2;
  @include font-brevia(1.8rem, $colBlue2, 700, false);
  padding: 1.5rem 2rem;
  cursor: pointer;

  &:hover, &:active, &:focus {
    border: 3px solid $colBlue2;
  }
  
  &.active {
    background-color: $colBlue2;
    color: white;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $colBlue2;
      bottom: -12px;
      left: 50%;
      margin-left: -10px;
    }
  }
}

a.sm-link {
  color: $colBlue1;
  text-decoration: none;
  &:visited, &:hover, &:active {
    color: $colBlue1;
  }
}

.not-found-container {
  text-align: center;
  padding: 10rem 1rem;
}

.not-found-title {
  color: $colBlue1;
  font-size: 4.8rem;
  margin: 0.5rem 0 0;

  @media screen and (max-width: $bp-mw-md) {
    font-size: 3.6rem;
  }
}

.not-found-desc {
  font-size: 2.4rem;
  margin: 2rem 0 3rem;

  @media screen and (max-width: $bp-mw-md) {
    font-size: 1.8rem;
  }
}

.under-construction {
  text-align: center;
  min-height: 40vh;
  padding: 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.under-construction-title {
  color: $colBlue1;
  font-size: 4rem;
  @media screen and (max-width: $bp-mw-md) {
    font-size: 3.2rem;
  }
}

/** For Important Notice **/
.important-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
}

.important-notice {
  position: absolute;
  width: 100%;
  max-width: 800px;
  border-radius: 6px;
  background-color: white;
  padding: 3.5rem 3rem;
  left: 50%;
  transform: translateX(-50%);
  top: 140px;
  @include box-shadow-blur;

  @media screen and (max-width: $bp-mw-sm) {
    top: 0px;
  }
}

.important-notice-title {
  margin: 0;
  font-size: 3.6rem;
  color: $colBlue1;
  font-weight: 800;

  @media screen and (max-width: $bp-mw-md) {
    font-size: 3.2rem;
  }
}

.imp-link {
  display: inline-block;
  background-color: $colBlue1;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
  text-align: center;

  &:hover {
    background-color: $colBlue2;
  }

  &:visited, &:hover, &:active {
    color: white;
  }

  &.alt {
    color: $colBlue1;
    background: transparent;
    padding: 1rem 0;

    &:visited, &:hover, &:active {
      color: $colBlue1;
    }
  }
}

.thankyou-msg {
  text-align: center;
  color: $colBlue1;
  font-size: 1.8rem;

  h1, h2, h3, h4, h5, h6 {
    font-size: 3.2rem;
    font-weight: 800;

    @media screen and (max-width: $bp-mw-md) {
      font-size: 2.4rem;
    }
  }

  @media screen and (max-width: $bp-mw-md) {
    font-size: 1.6rem;
  }
}

