.header {
  background: linear-gradient(90deg, $colBlue1, $colBlue2);
  width: 100%;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: $bp-lg;
  margin: 0 auto;

  @media screen and (max-width: $bp-mw-xmd) {
    flex-direction: column;
  }
}

.header-branding {
  padding-left: 1rem;
  @media screen and (max-width: $bp-mw-xmd) {
    width: 80px;
  }
}

.header-mobile-btn {
  display: none;
  cursor: pointer;
  position: absolute;
  padding: 0.5rem 1rem;
  border: none;
  top: 1rem;
  //transform: translateY(50%);
  right: 1.5rem;
  background-color: transparent;

  span {
    display: block;
    width: 3rem;
    height: 0.5rem;
    margin: 0.6rem 0;
    background-color: white;
    border-radius: 2px;
  }

  @media screen and (max-width: $bp-mw-xmd) {
    display: block;
  }
}

.header-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;

  &.show {
    display: flex;
  }

  @media screen and (max-width: $bp-mw-xmd) {
    display: none;
    flex-direction: column-reverse;
    padding: 0;
  }
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: $bp-mw-xmd) {
    flex-direction: column;
    padding: 1rem 0;
  }
}

.header-social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-social-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0.7rem;

  @media screen and (max-width: $bp-mw-xmd) {
    width: 40px;
    height: 40px;
    margin: 1.4rem 2rem;
  }
}

.header-lang-switch {
  display: inline-block;
  position: relative;

  & > select {
    background: none;
    border: 0;
    padding: 1.4rem 3rem 1.4rem 1rem;
    margin: 0 0.5rem;
    @include font-brevia(1.3rem, white, 400, false);
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23FFFFFF'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 10px;
    background-position: right 1rem center;

    & > option {
      background-color: $colDarkBlue1;
    }

    &:hover {
      background-color: $colDarkBlue1;
    }
  }

  @media screen and (max-width: $bp-mw-xmd) {
    display: block;
    width: 100%;
    padding: 0 2rem;

    & > select {
      border: 1px solid $colDarkBlue1;
      padding: 1.4rem 1rem;
      margin: 0.5rem 0 1rem;
      font-size: 1.6rem;
      width: 100%;
  
      & > option {
        background-color: $colDarkBlue1;
      }
  
      &:hover {
        background-color: $colDarkBlue1;
      }
    }
  }
}

.header-search {
  
  @media screen and (max-width: $bp-mw-xmd) {
    display: none;
  }

  .search-form {
    margin: 0 0.8rem;
  }

  .search-field {
    border-radius: 16px;
    background-color: $colDarkBlue1;
    border: none;
    padding: 0.5rem 1rem;
    @include font-brevia(1.2rem, false, 400, false);

    &:focus {
      outline: none;
      color: white;
      box-shadow: 0px 0px 4px rgb(63, 63, 63);
    }

    &::placeholder {
      color: rgb(179, 179, 179);
    }
  }

  .search-submit {
    display: none;
  }
}

.header-nav {

}

.header-nav-links {
  display: block;
  padding-inline-start: 0;
  margin-right: 0;
  margin-bottom: 0;

  @media screen and (max-width: $bp-mw-xmd) {
    margin: 0 auto;
    padding: 1rem 0;
    background-color: white;
  }

  & > li {
    display: inline-block;

    @media screen and (max-width: $bp-mw-xmd) {
      display: block;
      font-size: 1.8rem;
    }

    & > a {
      display: inline-block;
      padding: 1.2rem 1rem;
      text-decoration: none;
      color: white;

      @media screen and (max-width: $bp-mw-xmd) {
        display: block;
        padding: 1rem 2rem;
        color: $colDarkBlue1;
      }
    }
  }
}

.nav-link-products {
  position: relative;
  border-radius: 6px 6px 0 0;

  &:hover {
    background-color: $colDarkBlue1;

    & .sub-menu {
      display: block;
    }
  }

  @media screen and (max-width: $bp-mw-xmd) {
    &:hover {
      background-color: transparent;

      & .sub-menu {
        display: none;
      }
    }
  }

  .sub-menu {
    z-index: 2;
    display: none;
    position: absolute;
    top: 100%;
    right: auto;
    min-width: 100px;
    left: 0;
    padding-inline-start: 0;
    padding-left: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;

    & > li {
      display: block;
      background-color: $colDarkBlue1;

      &:hover {
        background-color: $colBlue1;
      }

      &:last-child {
        border-radius: 0px 0px 6px 6px;
      }
      
      & > a {
        display: inline-block;
        padding: 1.2rem 2rem;
        color: white;
        text-decoration: none;
      }
    }

    @media screen and (max-width: $bp-mw-xmd) {
      display: none;
      position: relative;

      & > li {
        background-color: white;

        & > a {
          display: block;
          color: $colDarkBlue1;
          padding-left: 4rem;
        }

        &:hover {
          background-color: transparent;
        }

        &:last-child {
          border-radius: 0;
        }
      }
    }
  }
}

// Appended in via JS, since I can't reliably target the parent class due to WP generating it
.nav-products-dd {
  display: none;
  border: none;
  padding: 1.4rem;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $colDarkBlue1;
  }

  @media screen and (max-width: $bp-mw-xmd) {
    display: block;
  }
}

.custom-logo {
  width: 100%;
}

