.home-carousel-container.slick-slider {
  position: relative;
  margin-bottom: 0;

  &.mobile {
    display: none;
  }

  @media screen and (max-width: $bp-mw-md) {
    display: none;
    &.mobile {
      display: block;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 1rem;
  }

  .slick-list {
    line-height: 0;
  }
  
  .slick-prev, .slick-next {
    z-index: 1;
  }

  .slick-prev {
    left: 1.6rem;
  }

  .slick-next {
    right: 1.6rem;
  }
}

.home-carousel-item {
  & > img {
    vertical-align: top;
    width: 100%;
  }
}

.home-content-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-content-box {
  position: relative;
  padding: 0.5rem;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.cta {
    flex-basis: 60%;
  }

  &.vid {
    flex-basis: 40%;
  }
  
  @media screen and (max-width: $bp-mw-md) {
    &.cta {
      flex-basis: 100%;
    }
  
    &.vid {
      flex-basis: 100%;
    }
  }
}

.home-cta-content {
  padding: 0 3rem;
  text-align: center;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  color: white;

  &.alt {
    color: $colBlue1;
  }

  .sm-btn-link {
    @include box-shadow;
  }
}

.home-cta-content-title {
  font-size: 3.2rem;
  margin: 1rem 0;
  line-height: 1;
  //text-shadow: 0px 1px 2px $colDarkBlue1;

  @media screen and (max-width: $bp-mw-xmd) {
    font-size: 2.4rem;
  }

  @media screen and (max-width: $bp-mw-sm) {
    font-size: 2rem;
  }
}

.home-cta-content-desc {
  line-height: 1;

  @media screen and (max-width: $bp-mw-sm) {
    display: none;
  }
}

.home-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
}

.home-video-iframe {
  display: none;
  z-index: 100;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 140px;
  width: 95%;
  max-width: 640px;

  .iframe-container {
    background-color: white;
    position: absolute;
    width: 100%;
    padding-top: 56.25%;
    @include box-shadow-blur;
  }

  iframe {
    padding: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
