@mixin font-brevia($size: false, $colour: false, $weight: false, $lh: false) {
  font-family: 'Brevia', Helvetica, Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

@mixin font-arial($size: false, $colour: false, $weight: false, $lh: false) {
  font-family: Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

@mixin text-shadow {
  text-shadow: 0px 1px 2px $colDarkBlue1;
}

@mixin box-shadow {
  box-shadow: 0px 1px 2px $colDarkBlue1;
}

@mixin box-shadow-blur {
  box-shadow: 0px 3px 6px $colDarkBlue1;
}