.products-header {
  overflow: auto;
  width: 100%;
  background-color: $colBlue4;
  background: linear-gradient(170deg, $colBlue4, $colLightBlue1);
  background: url('./assets/img/wave.png'), linear-gradient(170deg, $colBlue4, $colLightBlue1);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom left;
  padding: 0 3rem;

  @media screen and (max-width: $bp-mw-xmd) {
    background: linear-gradient(-40deg, $colBlue4, $colLightBlue1);
    @include text-shadow;
  }
}

.products-header-content {
  padding: 1rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: $bp-lg;
  align-items: center;
  flex-wrap: wrap;
}

.products-header-title {
  color: white;
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1;
  flex-basis: 40%;

  @media screen and (max-width: $bp-mw-xmd) {
    flex-basis: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media screen and (max-width: $bp-mw-sm) {
    font-size: 2.4rem;
  }
}

.products-image-container {
  flex-basis: 60%;
  padding: 0;
  & > img {
    margin-right: 0;
  }

  @media screen and (max-width: $bp-mw-xmd) {
    flex-basis: 100%;
    & > img {
      margin: 0 auto;
    }
  }
}

.products-header-image {
  display: block;
  margin: 0 auto;
}

.products-header-source {
  flex-basis: 100%;
  color: white;
  font-size: 1rem;
  margin: 0.2rem 0;
  text-align: right;

  @media screen and (max-width: $bp-mw-xmd) {
    text-align: center;
  }

  &:last-child {
    padding-bottom: 0.6rem;
  }
}

.products-main-info {
  text-align: center;
  max-width: 80%;
  padding: 0 1.6rem;
  margin: 0 auto;
  
  p {
    font-size: 1.6rem;
    line-height: 1.2;
  }

  @media screen and (max-width: $bp-mw-sm) {
    max-width: 100%;
    
    p {
      font-size: 1.4rem;
    }
  }
}

.products-main-info-title {
  color: $colBlue1;
  font-weight: 800;
  font-size: 4.2rem;
  line-height: 1;

  @media screen and (max-width: $bp-mw-md) {
    font-size: 3rem;
  }
}

.products-range {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  @media screen and (max-width: $bp-mw-md) {
    flex-wrap: wrap;
  }
}

.products-range-item-container {
  padding: 1rem;
}

.products-range-item {
  border: 1px solid $colGrey1;
  padding: 2rem;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;

  & > img {
    display: block;
  }

  .sm-btn-link {
    width: 100%;
    margin-top: auto;
  }
}

.products-range-item-title {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 500;
}

.products-nutrient-info {
  padding: 3rem 0 0;
  img {
    display: block;
    max-width: 100%;
  }
}

.products-lazada-code-container {
  overflow: auto;
  text-align: center;
  background-color: $colBlue1;
  max-width: $bp-lg;
  padding: 3rem 0;

  .sm-btn-link {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.products-lazada-code {
  padding: 1rem 0 2rem;
  p {
    color: white;
    font-weight: 800;
    font-size: 2.6rem;
    display: inline-block;
    padding: 0 1rem;
    margin: 1rem 0;
  }
}

.lazada-code-box {
  background-color: white;
  padding: 1rem 3rem;
  border-radius: 6px;
  font-weight: 800;
  font-size: 2.4rem;
}

/** For Single Product page **/

.product-header {
  background-color: $colBlue3;
  width: 100%;
  overflow: auto;
  color: white;
  padding: 1.5rem 3rem;

  @media screen and (max-width: $bp-mw-md) {
    text-align: center;
  }
}

.product-header-content {
  position: relative;
  max-width: $bp-lg;
  margin: 0 auto;
}

.product-header-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 60%;

  @media screen and (max-width: $bp-mw-md) {
    max-width: 80%;
  }

  @media screen and (max-width: $bp-mw-sm) {
    max-width: 100%;
  }
}

.product-header-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 3.2rem;

  @media screen and (max-width: $bp-mw-md) {
    position: relative;
  }
}

.product-header-desc {
  font-size: 1.2rem;
  margin: 0;
}

.product-desc-title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-top: 0;
}

.product-desc {
  padding: 1rem 2rem 3rem;
  p {
    font-size: 1.6rem;
  }
}

.product-info {
  padding-bottom: 2rem;
}

.product-info-tabs {
  margin: 2rem 0;
  text-align: center;
  display: flex;
  justify-content: center;

  .sm-btn-tab {
    flex-basis: 50%;
    max-width: 300px;
    margin: 0 1rem;

    @media screen and (max-width: $bp-mw-sm) {
      font-size: 1.4rem;
      padding: 1rem;
      margin: 0 0.5rem;
    }
  }
}

.product-info-content {
  border: 1px solid $colGrey1;
  display: flex;
  @media screen and (max-width: $bp-mw-xmd) {
    flex-direction: column;
  }
}

.product-content-box {
  padding: 2rem;
  flex-basis: 30%;
  border-left: 1px solid $colGrey1;

  @media screen and (max-width: $bp-mw-xmd) {
    border-left: none;
    border-top: 1px solid $colGrey1;
  }

  &:first-child {
    flex-basis: 40%;
    border-left: none;
    border-top: none;
  }

  &.key {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    @media screen and (max-width: $bp-mw-sm) {
      flex-direction: column;
    }
  }

  p {
    margin: 0.5rem 0;
  }

  ol, ul {
    margin-left: 0;
    padding-inline-start: 0;
    padding-left: 2rem;
  }
}

.product-content-image {
  display: inline-block;
  width: 50%;
  max-width: 250px;
  margin-bottom: 1.5rem;

  @media screen and (max-width: $bp-mw-sm) {
    width: 100%;
    max-width: 300px;
  }
}

.product-content {
  padding: 0 2rem;
}

.product-content-heading {
  margin: 0.8rem 0;
  font-weight: 500;
  font-size: 1.8rem;
}

/** Nutrition Table **/
.product-info-nutrition {
  display: none;
}

.tbl-nutrition {
  display: block;
  width: 100%;
  text-align: center;
  overflow-x: auto;

  td, th {
    padding: 0.8rem 0.5rem;
  }
  tbody {
    display: inline-block;
    text-align: center;
  }
}

.tbl-product-img {
  & > img {
    border: 6px solid $colBlue2;
    min-width: 160px;
    max-width: 350px;
    width: 100%;
  }
}

.tbl-source {
  background-color: $colGrey3;
}

.tbl-header {
  background-color: $colBlue2;
  color: white;
  font-weight: 500;
}

.tbl-td {
  background-color: $colGrey3;

  &.main {
    background-color: $colGrey2;
    font-weight: 700;
  }
}

.product-others {
  padding: 1.5rem 0 3rem;
  text-align: center;
}

.product-others-title {
  font-size: 2.8rem;
  margin: 1rem 0;
}

.product-others-links {
  .sm-btn-link {
    margin: 0.3rem;
  }
}