.sample-form-container {
  .wFormContainer {
    .wForm {
      padding: 0;
      background-color: transparent;
      @include font-brevia(1.6rem);

      legend {
        @include font-brevia(1.4rem);
      }

      label {
        @include font-brevia(1.6rem);
        padding-bottom: 1rem;
        text-transform: uppercase;
      }

      fieldset {
        border: 1px solid $colGrey1;
      }

      select {
        border-radius: 8px;
        padding: 1rem;
        height: auto;
        max-width: 100%;
      }

      input {
        border-radius: 8px;
        padding: 1rem;
        height: auto;
        max-width: 100%;
      }

      optgroup {
        font-size: 1.6rem;
      }

      .oneField {
        label {
          padding-bottom: 0.2rem;
        }
      }

      .htmlSection {
        @include font-brevia(1.6rem);
      }

      .wFormTitle {
        color: $colBlue1;
        font-size: 3.2rem;
        font-weight: 800;
      }

      .primaryAction {
        @include font-brevia(1.8rem);
        background-color: $colBlue1;
        color: white;
        padding: 1.5rem 3rem;
        border-radius: 6px;
        transition: background-color 0.2s ease-in-out;
        text-align: center;

        &:visited {
          color: white;
        }

        &:hover {
          color: white;
          background-color: $colDarkBlue2;
        }
      }
    }
  }
  
}

/** Icon section **/
.form-icons-container {
  padding: 1rem 0;
  margin: 0 auto;
}

.form-icons-row {
  text-align: center;

  &:first-child {
    margin-left: -6rem
  }

  &:nth-child(2) {
    margin-right: -6rem
  }

  @media screen and (max-width: $bp-mw-md) {
    &:first-child {
      margin: 0;
    }
  
    &:nth-child(2) {
      margin: 0;
    }
  }
}

.form-icon {
  cursor: pointer;
  display: inline-block;
  max-width: 250px;

  img {
    display: block;
    padding: 0 1rem;
  }
}

.form-icons-msg {
  color: $colBlue1;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
}

.form-icon-modal {
  display: none;
  position: absolute;
  width: 100%;
  max-width: 500px;
  border-radius: 6px;
  background-color: white;
  padding: 3rem 3rem;
  left: 50%;
  transform: translateX(-50%);
  top: 140px;
  @include box-shadow-blur;

  p {
    margin: 1rem 0 0 0;
  }
}

.form-icon-title {
  color: $colBlue1;
  font-size: 2.8rem;
  font-weight: 500;
  margin: 0;
}