.search-results-title {
  color: $colBlue1;
  font-size: 4.8rem;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 0;

  @media screen and (max-width: $bp-mw-md) {
    font-size: 3.6rem;
  }
}

.search-results-container {
  padding: 2rem 1rem;
  min-height: 25vh;
  display: flex;
  flex-wrap: wrap;
}

.search-result-item-container {
  padding: 1rem;
  flex-basis: 50%;

  @media screen and (max-width: $bp-mw-md) {
    flex-basis: 100%;
  }
}

.search-result-item-title {
  color: $colBlue1;
  text-decoration: none;

  &:hover, &:active, &:visited {
    color: $colBlue1;
  }

  h3 {
    margin: 0;
  }
}

.search-result-item-desc {
  margin: 0.5rem 0;
  color: $colGrey4;
}

.search-result-item {
  padding: 1.5rem;
  border: 1px solid $colGrey1;
  height: 100%;
}

.search-results-none {
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem auto;
}