@font-face{font-family:"Brevia";src:url("./assets/fonts/Brevia-Regular.woff") format("woff");font-style:normal;font-weight:400}
@font-face{font-family:"Brevia";src:url("./assets/fonts/Brevia-Medium.woff") format("woff");font-style:normal;font-weight:500}
@font-face{font-family:"Brevia";src:url("./assets/fonts/Brevia-Bold.woff") format("woff");font-style:normal;font-weight:700}
@font-face{font-family:"Brevia";src:url("./assets/fonts/Brevia-Black.woff") format("woff");font-style:normal;font-weight:800}
/*!
Theme Name: smartmoments
Theme URI: http://underscores.me/
Author: Underscores.me & Wunderman KL
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: smartmoments
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

smartmoments is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/html{line-height:1.15;-webkit-text-size-adjust:100%}
body{margin:0}
h1{font-size:2.8rem;margin:.67em 0}
hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}
a{background-color:transparent}
abbr[title]{border-bottom:0;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}
b,strong{font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}
sup{top:-0.5em}
img{border-style:none}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{padding:.35em .75em .625em}
legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{vertical-align:baseline}
textarea{overflow:auto}
[type="checkbox"],[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details{display:block}
summary{display:list-item}
template{display:none}
[hidden]{display:none}
body,button,input,select,optgroup,textarea{color:#404040;font-family:sans-serif;font-size:16px;font-size:1rem;line-height:1.3}
h1,h2,h3,h4,h5,h6{clear:both}
p{margin-bottom:1.5em}
dfn,cite,em,i{font-style:italic}
blockquote{margin:0 1.5em}
address{margin:0 0 1.5em}
pre{background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:15px;font-size:.9375rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}
code,kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:15px;font-size:.9375rem}
abbr,acronym{border-bottom:1px dotted #666;cursor:help}
mark,ins{background:#fff9c0;text-decoration:none}
big{font-size:125%}
html{-webkit-box-sizing:border-box;box-sizing:border-box}
*,*:before,*:after{-webkit-box-sizing:inherit;box-sizing:inherit}
body{background:#fff}
hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}
ul,ol{margin:0 0 1.5em 3em}
ul{list-style:disc}
ol{list-style:decimal}
li>ul,li>ol{margin-bottom:0;margin-left:1.5em}
dt{font-weight:bold}
dd{margin:0 1.5em 1.5em}
img{height:auto;max-width:100%}
figure{margin:1em 0}
table{margin:0 0 1.5em;width:100%}
button,input[type="button"],input[type="reset"],input[type="submit"]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;color:rgba(0,0,0,0.8);font-size:12px;font-size:.75rem;line-height:1;padding:.6em 1em .4em}
button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border-color:#ccc #bbb #aaa}
button:active,button:focus,input[type="button"]:active,input[type="button"]:focus,input[type="reset"]:active,input[type="reset"]:focus,input[type="submit"]:active,input[type="submit"]:focus{border-color:#aaa #bbb #bbb}
input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px}
input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:#111}
select{border:1px solid #ccc}
textarea{width:100%}
a{color:royalblue}
a:visited{color:purple}
a:hover,a:focus,a:active{color:midnightblue}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
.main-navigation{clear:both;display:block;float:left;width:100%}
.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}
.main-navigation ul ul{-webkit-box-shadow:0 3px 3px rgba(0,0,0,0.2);box-shadow:0 3px 3px rgba(0,0,0,0.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999}
.main-navigation ul ul ul{left:-999em;top:0}
.main-navigation ul ul li:hover>ul,.main-navigation ul ul li.focus>ul{left:100%}
.main-navigation ul ul a{width:200px}
.main-navigation ul li:hover>ul,.main-navigation ul li.focus>ul{left:auto}
.main-navigation li{float:left;position:relative}
.main-navigation a{display:block;text-decoration:none}
.menu-toggle,.main-navigation.toggled ul{display:block}
.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:0 0 1.5em;overflow:hidden}
.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{float:left;width:50%}
.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{float:right;text-align:right;width:50%}
.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}
.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,0.6);box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;-webkit-clip-path:none;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}
#content[tabindex="-1"]:focus{outline:0}
.alignleft{display:inline;float:left;margin-right:1.5em}
.alignright{display:inline;float:right;margin-left:1.5em}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}
.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:"";display:table;table-layout:fixed}
.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}
.widget{margin:0 0 1.5em}
.widget select{max-width:100%}
.sticky{display:block}
.post,.page{margin:0}
.updated:not(.published){display:none}
.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}
.page-links{clear:both;margin:0 0 1.5em}
.comment-content a{word-wrap:break-word}
.bypostauthor{display:block}
.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}
.infinity-end.neverending .site-footer{display:block}
.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:0;margin-bottom:0;margin-top:0;padding:0}
embed,iframe,object{max-width:100%}
.custom-logo-link{display:inline-block}
.wp-caption{margin-bottom:1.5em;max-width:100%}
.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}
.wp-caption .wp-caption-text{margin:.8075em 0}
.wp-caption-text{text-align:center}
.gallery{margin-bottom:1.5em}
.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%}
.gallery-columns-2 .gallery-item{max-width:50%}
.gallery-columns-3 .gallery-item{max-width:33.33%}
.gallery-columns-4 .gallery-item{max-width:25%}
.gallery-columns-5 .gallery-item{max-width:20%}
.gallery-columns-6 .gallery-item{max-width:16.66%}
.gallery-columns-7 .gallery-item{max-width:14.28%}
.gallery-columns-8 .gallery-item{max-width:12.5%}
.gallery-columns-9 .gallery-item{max-width:11.11%}
.gallery-caption{display:block}
html{font-size:62.5%;height:100%}
body{font-family:'Brevia',Helvetica,Arial,sans-serif;font-size:1.4rem;font-weight:400}
.main-container{max-width:1280px;margin:0 auto;padding:2rem 1rem}
.sm-content-container{padding:2rem}
.sm-content-container ol,.sm-content-container ul{margin-bottom:0;margin-left:2rem;padding:0}
.sm-content-container a{color:#09f;text-decoration:none}
.sm-content-container a:visited,.sm-content-container a:hover,.sm-content-container a:active{color:#09f}
.sm-header{position:relative;width:100%;height:500px;background-repeat:no-repeat;background-size:cover;background-position:center;text-align:center;color:white}
.sm-header-container{position:relative}
.sm-header-responsive{position:relative;width:100%;padding-bottom:26%;background-repeat:no-repeat;background-size:cover;background-position:center}
.sm-header-responsive.mobile{display:none;padding-bottom:112.5%}
.sm-header-overlay{overflow:auto;background-color:rgba(0,0,0,0.15);width:100%;height:100%}
.sm-header-content{width:100%;padding:0 3rem;max-width:800px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-shadow:0 1px 2px #002a4c}
.sm-header-content p{font-size:2rem;margin:0;font-weight:500}
.sm-header-title{font-size:4.8rem;margin:.5rem 0;font-weight:800;line-height:1.2}
.sm-btn-link{display:inline-block;text-decoration:none;background-color:#296dbc;padding:1rem 1.6rem;color:white;border-radius:6px;-webkit-transition:background-color .2s ease-in-out;transition:background-color .2s ease-in-out;text-align:center}
.sm-btn-link:visited{color:white}
.sm-btn-link.lg{padding:1.5rem 3rem;font-size:2rem;font-weight:500}
.sm-btn-link.dl123{background-color:#009245}
.sm-btn-link.dl456{background-color:#e49e07}
.sm-btn-link.dl6{background-color:#ef4d40}
.sm-btn-link:hover{color:white;background-color:#1d426f}
.sm-btn-link:hover.dl123{background-color:#007038}
.sm-btn-link:hover.dl456{background-color:#d47f00}
.sm-btn-link:hover.dl6{background-color:#bb261b}
.sm-btn-tab{position:relative;border-radius:4px;background-color:white;border:3px solid #296dbc;font-family:'Brevia',Helvetica,Arial,sans-serif;font-size:1.8rem;color:#296dbc;font-weight:700;padding:1.5rem 2rem;cursor:pointer}
.sm-btn-tab:hover,.sm-btn-tab:active,.sm-btn-tab:focus{border:3px solid #296dbc}
.sm-btn-tab.active{background-color:#296dbc;color:white}
.sm-btn-tab.active::after{content:'';display:block;position:absolute;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #296dbc;bottom:-12px;left:50%;margin-left:-10px}
a.sm-link{color:#09f;text-decoration:none}
a.sm-link:visited,a.sm-link:hover,a.sm-link:active{color:#09f}
.not-found-container{text-align:center;padding:10rem 1rem}
.not-found-title{color:#09f;font-size:4.8rem;margin:.5rem 0 0}
.not-found-desc{font-size:2.4rem;margin:2rem 0 3rem}
.under-construction{text-align:center;min-height:40vh;padding:3rem 1rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.under-construction-title{color:#09f;font-size:4rem}
.important-overlay{position:fixed;display:none;width:100%;height:100vh;left:0;top:0;background-color:rgba(0,0,0,0.4);z-index:99}
.important-notice{position:absolute;width:100%;max-width:800px;border-radius:6px;background-color:white;padding:3.5rem 3rem;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);top:140px;-webkit-box-shadow:0 3px 6px #002a4c;box-shadow:0 3px 6px #002a4c}
.important-notice-title{margin:0;font-size:3.6rem;color:#09f;font-weight:800}
.imp-link{display:inline-block;background-color:#09f;padding:1rem 2rem;color:white;text-decoration:none;border-radius:4px;-webkit-transition:background-color .2s ease-in-out;transition:background-color .2s ease-in-out;margin-top:.5rem;margin-right:1.5rem;text-align:center}
.imp-link:hover{background-color:#296dbc}
.imp-link:visited,.imp-link:hover,.imp-link:active{color:white}
.imp-link.alt{color:#09f;background:transparent;padding:1rem 0}
.imp-link.alt:visited,.imp-link.alt:hover,.imp-link.alt:active{color:#09f}
.thankyou-msg{text-align:center;color:#09f;font-size:1.8rem}
.thankyou-msg h1,.thankyou-msg h2,.thankyou-msg h3,.thankyou-msg h4,.thankyou-msg h5,.thankyou-msg h6{font-size:3.2rem;font-weight:800}
.slick-slider{position:relative;display:block;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;overflow:hidden;display:block;margin:0;padding:0}
.slick-list:focus{outline:0}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;left:0;top:0;display:block;margin-left:auto;margin-right:auto}
.slick-track:before,.slick-track:after{content:"";display:table}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{float:left;height:100%;min-height:1px;display:none}
[dir="rtl"] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-loading .slick-list{background:#fff url("./assets/img/ajax-loader.gif") center center no-repeat}
@font-face{font-family:"slick";src:url("./assets/fonts/slick.eot");src:url("./assets/fonts/slick.eot?#iefix") format("embedded-opentype"),url("./assets/fonts/slick.woff") format("woff"),url("./assets/fonts/slick.ttf") format("truetype"),url("./assets/fonts/slick.svg#slick") format("svg");font-weight:normal;font-style:normal}
.slick-prev,.slick-next{position:absolute;display:block;height:20px;width:20px;line-height:0;font-size:0;cursor:pointer;background:transparent;color:transparent;top:50%;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);padding:0;border:0;outline:0}
.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus{outline:0;background:transparent;color:transparent}
.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before{opacity:1}
.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{opacity:.25}
.slick-prev:before,.slick-next:before{font-family:"slick";font-size:20px;line-height:1;color:white;opacity:.75;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.slick-prev{left:-25px}
[dir="rtl"] .slick-prev{left:auto;right:-25px}
.slick-prev:before{content:"←"}
[dir="rtl"] .slick-prev:before{content:"→"}
.slick-next{right:-25px}
[dir="rtl"] .slick-next{left:-25px;right:auto}
.slick-next:before{content:"→"}
[dir="rtl"] .slick-next:before{content:"←"}
.slick-dotted.slick-slider{margin-bottom:30px}
.slick-dots{position:absolute;bottom:-25px;list-style:none;display:block;text-align:center;padding:0;margin:0;width:100%}
.slick-dots li{position:relative;display:inline-block;height:20px;width:20px;margin:0 5px;padding:0;cursor:pointer}
.slick-dots li button{border:0;background:transparent;display:block;height:20px;width:20px;outline:0;line-height:0;font-size:0;color:transparent;padding:5px;cursor:pointer}
.slick-dots li button:hover,.slick-dots li button:focus{outline:0}
.slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity:1}
.slick-dots li button:before{position:absolute;top:0;left:0;content:"•";width:20px;height:20px;font-family:"slick";font-size:6px;line-height:20px;text-align:center;color:black;opacity:.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.slick-dots li.slick-active button:before{color:black;opacity:.75}
.header{background:-webkit-gradient(linear,left top,right top,from(#09f),to(#296dbc));background:linear-gradient(90deg,#09f,#296dbc);width:100%}
.header-container{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;max-width:1280px;margin:0 auto}
.header-branding{padding-left:1rem}
.header-mobile-btn{display:none;cursor:pointer;position:absolute;padding:.5rem 1rem;border:0;top:1rem;right:1.5rem;background-color:transparent}
.header-mobile-btn span{display:block;width:3rem;height:.5rem;margin:.6rem 0;background-color:white;border-radius:2px}
.header-controls{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:0 2rem}
.header-controls.show{display:-webkit-box;display:-ms-flexbox;display:flex}
.header-menu{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.header-social-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.header-social-icon{display:inline-block;width:20px;height:20px;margin:0 .7rem}
.header-lang-switch{display:inline-block;position:relative}
.header-lang-switch>select{background:0;border:0;padding:1.4rem 3rem 1.4rem 1rem;margin:0 .5rem;font-family:'Brevia',Helvetica,Arial,sans-serif;font-size:1.3rem;color:white;font-weight:400;-webkit-appearance:none;-moz-appearance:none;background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23FFFFFF'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;background-size:10px;background-position:right 1rem center}
.header-lang-switch>select>option{background-color:#002a4c}
.header-lang-switch>select:hover{background-color:#002a4c}
.header-search .search-form{margin:0 .8rem}
.header-search .search-field{border-radius:16px;background-color:#002a4c;border:0;padding:.5rem 1rem;font-family:'Brevia',Helvetica,Arial,sans-serif;font-size:1.2rem;font-weight:400}
.header-search .search-field:focus{outline:0;color:white;-webkit-box-shadow:0 0 4px #3f3f3f;box-shadow:0 0 4px #3f3f3f}
.header-search .search-field::-webkit-input-placeholder{color:#b3b3b3}
.header-search .search-field::-moz-placeholder{color:#b3b3b3}
.header-search .search-field:-ms-input-placeholder{color:#b3b3b3}
.header-search .search-field::-ms-input-placeholder{color:#b3b3b3}
.header-search .search-field::placeholder{color:#b3b3b3}
.header-search .search-submit{display:none}
.header-nav-links{display:block;-webkit-padding-start:0;padding-inline-start:0;margin-right:0;margin-bottom:0}
.header-nav-links>li{display:inline-block}
.header-nav-links>li>a{display:inline-block;padding:1.2rem 1rem;text-decoration:none;color:white}
.nav-link-products{position:relative;border-radius:6px 6px 0 0}
.nav-link-products:hover{background-color:#002a4c}
.nav-link-products:hover .sub-menu{display:block}
.nav-link-products .sub-menu{z-index:2;display:none;position:absolute;top:100%;right:auto;min-width:100px;left:0;-webkit-padding-start:0;padding-inline-start:0;padding-left:0;margin:0;list-style:none;white-space:nowrap;overflow:hidden}
.nav-link-products .sub-menu>li{display:block;background-color:#002a4c}
.nav-link-products .sub-menu>li:hover{background-color:#09f}
.nav-link-products .sub-menu>li:last-child{border-radius:0 0 6px 6px}
.nav-link-products .sub-menu>li>a{display:inline-block;padding:1.2rem 2rem;color:white;text-decoration:none}
.nav-products-dd{display:none;border:0;padding:1.4rem;background-color:transparent;position:absolute;top:0;right:1rem;cursor:pointer}
.nav-products-dd::after{content:'';display:block;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid #002a4c}
.custom-logo{width:100%}
.footer{color:white;background-color:#09f}
.footer-feature-container{background-color:#32a1d8;width:100%;padding:2rem}
.footer-feature{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.footer-feature img{display:inline-block}
.footer-dha{text-align:center;padding:0 2rem}
.footer-dha-title{font-size:3.6rem;margin:0;text-transform:uppercase}
.footer-disclaimer{text-align:center;font-size:1.2rem;margin:1rem 0}
.footer-info{width:100%;margin:0 auto;max-width:1280px;padding:2rem 2rem}
.footer-title{font-size:1.4rem;text-transform:uppercase;margin-top:0;font-weight:700}
.footer-site-link{display:inline-block;width:140px;padding:0 1rem}
.footer-bottom{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.footer-copyright{-ms-flex-preferred-size:50%;flex-basis:50%;font-size:1.2rem;margin:0}
.footer-copyright span{font-family:Arial,sans-serif;font-weight:400}
.footer-nav{font-size:1.2rem}
.footer-nav-links{-ms-flex-preferred-size:50%;flex-basis:50%;display:block;-webkit-padding-start:0;padding-inline-start:0;margin:0}
.footer-nav-links>li{display:inline-block;padding:0 .3rem}
.footer-nav-links>li>a{color:white;text-decoration:none;display:inline-block}
.home-carousel-container.slick-slider{position:relative;margin-bottom:0}
.home-carousel-container.slick-slider.mobile{display:none}
.home-carousel-container.slick-slider .slick-dots{position:absolute;bottom:1rem}
.home-carousel-container.slick-slider .slick-list{line-height:0}
.home-carousel-container.slick-slider .slick-prev,.home-carousel-container.slick-slider .slick-next{z-index:1}
.home-carousel-container.slick-slider .slick-prev{left:1.6rem}
.home-carousel-container.slick-slider .slick-next{right:1.6rem}
.home-carousel-item>img{vertical-align:top;width:100%}
.home-content-box-container{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.home-content-box{position:relative;padding:.5rem}
.home-content-box img{display:block;width:100%;height:100%;-o-object-fit:cover;object-fit:cover}
.home-content-box.cta{-ms-flex-preferred-size:60%;flex-basis:60%}
.home-content-box.vid{-ms-flex-preferred-size:40%;flex-basis:40%}
.home-cta-content{padding:0 3rem;text-align:center;position:absolute;top:8%;left:0;right:0;color:white}
.home-cta-content.alt{color:#09f}
.home-cta-content .sm-btn-link{-webkit-box-shadow:0 1px 2px #002a4c;box-shadow:0 1px 2px #002a4c}
.home-cta-content-title{font-size:3.2rem;margin:1rem 0;line-height:1}
.home-cta-content-desc{line-height:1}
.home-overlay{display:none;position:fixed;width:100%;height:100vh;top:0;background-color:rgba(0,0,0,0.4);z-index:99}
.home-video-iframe{display:none;z-index:100;position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);top:140px;width:95%;max-width:640px}
.home-video-iframe .iframe-container{background-color:white;position:absolute;width:100%;padding-top:56.25%;-webkit-box-shadow:0 3px 6px #002a4c;box-shadow:0 3px 6px #002a4c}
.home-video-iframe iframe{padding:1rem;position:absolute;width:100%;height:100%;top:0;left:0}
.products-header{overflow:auto;width:100%;background-color:#2087ca;background:linear-gradient(170deg,#2087ca,#aedbf0);background:url("./assets/img/wave.png"),linear-gradient(170deg,#2087ca,#aedbf0);background-repeat:no-repeat;background-size:100%;background-position:bottom left;padding:0 3rem}
.products-header-content{padding:1rem 0;margin:0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;max-width:1280px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap}
.products-header-title{color:white;text-transform:uppercase;font-size:3.6rem;font-weight:800;line-height:1;-ms-flex-preferred-size:40%;flex-basis:40%}
.products-image-container{-ms-flex-preferred-size:60%;flex-basis:60%;padding:0}
.products-image-container>img{margin-right:0}
.products-header-image{display:block;margin:0 auto}
.products-header-source{-ms-flex-preferred-size:100%;flex-basis:100%;color:white;font-size:1rem;margin:.2rem 0;text-align:right}
.products-header-source:last-child{padding-bottom:.6rem}
.products-main-info{text-align:center;max-width:80%;padding:0 1.6rem;margin:0 auto}
.products-main-info p{font-size:1.6rem;line-height:1.2}
.products-main-info-title{color:#09f;font-weight:800;font-size:4.2rem;line-height:1}
.products-range{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:2rem 0}
.products-range-item-container{padding:1rem}
.products-range-item{border:1px solid #cacaca;padding:2rem;text-align:center;height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.products-range-item>img{display:block}
.products-range-item .sm-btn-link{width:100%;margin-top:auto}
.products-range-item-title{font-size:1.8rem;line-height:1.2;font-weight:500}
.products-nutrient-info{padding:3rem 0 0}
.products-nutrient-info img{display:block;max-width:100%}
.products-lazada-code-container{overflow:auto;text-align:center;background-color:#09f;max-width:1280px;padding:3rem 0}
.products-lazada-code-container .sm-btn-link{padding-left:3rem;padding-right:3rem}
.products-lazada-code{padding:1rem 0 2rem}
.products-lazada-code p{color:white;font-weight:800;font-size:2.6rem;display:inline-block;padding:0 1rem;margin:1rem 0}
.lazada-code-box{background-color:white;padding:1rem 3rem;border-radius:6px;font-weight:800;font-size:2.4rem}
.product-header{background-color:#32a1d8;width:100%;overflow:auto;color:white;padding:1.5rem 3rem}
.product-header-content{position:relative;max-width:1280px;margin:0 auto}
.product-header-image{display:block;margin:0 auto;width:100%;max-width:60%}
.product-header-title{position:absolute;top:0;left:0;margin:0;font-size:3.2rem}
.product-header-desc{font-size:1.2rem;margin:0}
.product-desc-title{font-size:3.2rem;font-weight:500;margin-top:0}
.product-desc{padding:1rem 2rem 3rem}
.product-desc p{font-size:1.6rem}
.product-info{padding-bottom:2rem}
.product-info-tabs{margin:2rem 0;text-align:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.product-info-tabs .sm-btn-tab{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:300px;margin:0 1rem}
.product-info-content{border:1px solid #cacaca;display:-webkit-box;display:-ms-flexbox;display:flex}
.product-content-box{padding:2rem;-ms-flex-preferred-size:30%;flex-basis:30%;border-left:1px solid #cacaca}
.product-content-box:first-child{-ms-flex-preferred-size:40%;flex-basis:40%;border-left:0;border-top:0}
.product-content-box.key{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
.product-content-box p{margin:.5rem 0}
.product-content-box ol,.product-content-box ul{margin-left:0;-webkit-padding-start:0;padding-inline-start:0;padding-left:2rem}
.product-content-image{display:inline-block;width:50%;max-width:250px;margin-bottom:1.5rem}
.product-content{padding:0 2rem}
.product-content-heading{margin:.8rem 0;font-weight:500;font-size:1.8rem}
.product-info-nutrition{display:none}
.tbl-nutrition{display:block;width:100%;text-align:center;overflow-x:auto}
.tbl-nutrition td,.tbl-nutrition th{padding:.8rem .5rem}
.tbl-nutrition tbody{display:inline-block;text-align:center}
.tbl-product-img>img{border:6px solid #296dbc;min-width:160px;max-width:350px;width:100%}
.tbl-source{background-color:#f8f8f8}
.tbl-header{background-color:#296dbc;color:white;font-weight:500}
.tbl-td{background-color:#f8f8f8}
.tbl-td.main{background-color:#ddd;font-weight:700}
.product-others{padding:1.5rem 0 3rem;text-align:center}
.product-others-title{font-size:2.8rem;margin:1rem 0}
.product-others-links .sm-btn-link{margin:.3rem}
.articles-header{position:relative;width:100%;height:500px;background-repeat:no-repeat;background-size:cover;background-position:center;text-align:center;color:white}
.articles-no-results{font-size:1.6rem;padding:0 2rem}
.articles-header-overlay{overflow:auto;background-color:rgba(0,0,0,0.4);width:100%;height:100%}
.articles-header-content{width:100%;padding:0 3rem;max-width:800px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-shadow:0 1px 2px #002a4c}
.articles-header-content p{font-size:2rem;margin:0;font-weight:500}
.articles-header-title{font-size:4.8rem;margin:.5rem 0;font-weight:800}
.articles-cat-container{padding:2rem 0}
.articles-cat-item{text-decoration:none;color:white;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;margin:1rem 0}
.articles-cat-item:hover,.articles-cat-item:active,.articles-cat-item:visited{color:white}
.articles-cat-item>img{min-width:0;display:block;-ms-flex-preferred-size:65%;flex-basis:65%;-o-object-fit:cover;object-fit:cover}
.articles-cat-item:nth-child(1) .articles-cat-item-desc{background-color:#e49e07}
.articles-cat-item:nth-child(2) .articles-cat-item-desc{background-color:#009245}
.articles-cat-item:nth-child(3) .articles-cat-item-desc{background-color:#ef4d40}
.articles-cat-item-desc{padding:1rem 2rem;-ms-flex-preferred-size:35%;flex-basis:35%;background-color:#09f;text-align:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.articles-cat-item-desc p{font-size:1.6rem;margin:.5rem 0}
.articles-cat-item-title{font-size:2.8rem;font-weight:500;margin:0}
.article-posts-title{text-align:center;font-size:3.6rem;margin:2rem 0;color:#09f}
.article-posts-container{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding-bottom:3rem}
.article-post-container{padding:1rem;-ms-flex-preferred-size:33%;flex-basis:33%}
.article-post{border:1px solid #cacaca;padding:1rem;display:-webkit-box;display:-ms-flexbox;display:flex;height:100%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
.article-post .sm-btn-link{margin-top:auto;padding-left:3rem;padding-right:3rem}
.article-post-thumb-container{position:relative;width:100%}
.article-post-thumb-container:after{content:'';display:block;position:absolute;width:100%;height:100%;top:0;left:0;opacity:.3;background-color:black}
.article-post-title{margin:0;position:absolute;color:white;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100%;text-align:center;z-index:10;padding:0 2rem;text-shadow:0 1px 2px #002a4c;font-weight:500;font-size:1.8rem}
.article-post-thumb{display:block;width:100%}
.article-container{width:100%;padding:2rem 1rem;text-align:center}
.article-heading{color:#09f;font-size:3.6rem;line-height:1.2;margin:.2rem 0}
.article-heading.main{font-size:4.2rem;font-weight:800}
.article-subheading{color:#09f;font-size:1.8rem;margin:0 0 1.6rem 0}
.article-content p{margin:1rem 0;font-size:1.6rem}
.article-content ol,.article-content ul{display:inline-block;padding:0;margin-bottom:0;margin-left:2rem;text-align:left}
.article-content img{display:block;margin:0 auto;padding:1.5rem 0}
.article-video-iframe{width:100%}
.article-video-iframe .iframe-container{position:relative;background-color:white;width:100%;padding-top:56.25%}
.article-video-iframe iframe{padding:1rem;position:absolute;width:100%;height:100%;top:0;left:0}
.article-single-container{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.article-single-content-container{padding:1rem;-ms-flex-preferred-size:70%;flex-basis:70%}
.article-single-sidebar-container{padding:1rem;-ms-flex-preferred-size:30%;flex-basis:30%;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.article-single-sidebar-container .article-post-container{-ms-flex-preferred-size:auto;flex-basis:auto;padding:.5rem}
.article-single-title{color:#09f;font-weight:800;font-size:3.2rem;margin:1rem 0;line-height:1}
.article-single-readmore{padding:0 1rem;margin:2rem 0 .5rem;font-weight:500}
.article-single-content{padding:1rem;font-size:1.6rem}
.article-single-content ol,.article-single-content ul{padding:0;margin-bottom:0;margin-left:2rem}
.article-single-content img{display:block;width:100%}
.faq-title{font-size:4.8rem;text-align:center;color:#09f;margin:1rem 0;line-height:1.2}
.faq-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding-bottom:3rem}
.faq-item{background-color:#e4f3eb;margin:.5rem 0}
.faq-question-container{position:relative}
.faq-question-container.active .faq-icon>span{background-color:#009245}
.faq-question-container.active .faq-icon>span:nth-child(2){display:none}
.faq-question-container.active .faq-question{color:#009245}
.faq-question{color:#296dbc;margin:0;padding:1.5rem 4rem 1.5rem 2rem;cursor:pointer;font-size:1.8rem}
.faq-question:hover{background-color:#e4f6f8}
.faq-icon{cursor:pointer;width:16px;height:16px;position:absolute;right:1.5rem;top:50%;margin-top:-8px}
.faq-icon span{display:block;position:absolute;background-color:#296dbc}
.faq-icon span:nth-child(1){width:100%;height:4px;top:6px}
.faq-icon span:nth-child(2){width:4px;height:100%;left:6px}
.faq-answer{display:none;border-top:1px solid #009245;padding:2rem 3rem;font-size:1.6rem}
.faq-answer p{margin:.4rem 0}
.faq-answer ol,.faq-answer ul{padding:0;margin-bottom:0;margin-left:2rem}
.faq-answer img{display:block;padding:1rem 0}
.search-results-title{color:#09f;font-size:4.8rem;text-align:center;line-height:1.2;margin-bottom:0}
.search-results-container{padding:2rem 1rem;min-height:25vh;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.search-result-item-container{padding:1rem;-ms-flex-preferred-size:50%;flex-basis:50%}
.search-result-item-title{color:#09f;text-decoration:none}
.search-result-item-title:hover,.search-result-item-title:active,.search-result-item-title:visited{color:#09f}
.search-result-item-title h3{margin:0}
.search-result-item-desc{margin:.5rem 0;color:#8d8d8d}
.search-result-item{padding:1.5rem;border:1px solid #cacaca;height:100%}
.search-results-none{text-align:center;font-size:1.6rem;margin:2rem auto}
.contact-container{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:3rem 1rem;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.contact-item-container{-ms-flex-preferred-size:50%;flex-basis:50%;padding:2rem}
.contact-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:top;-ms-flex-align:top;align-items:top}
.contact-item-content{padding:0 1rem 0 2rem}
.contact-item-icon{max-width:60px;max-height:60px}
.contact-item-title{margin:0;font-size:2rem;color:#296dbc;text-transform:uppercase;line-height:1;font-weight:800}
.contact-item-desc{margin:.5rem 0}
.contact-item-desc p{margin:.4rem 0}
.contact-item-desc .sm-link{word-break:break-all}
.sample-form-container .wFormContainer .wForm{padding:0;background-color:transparent;font-family:'Brevia',Helvetica,Arial,sans-serif;font-size:1.6rem}
.sample-form-container .wFormContainer .wForm legend{font-family:'Brevia',Helvetica,Arial,sans-serif;font-size:1.4rem}
.sample-form-container .wFormContainer .wForm label{font-family:'Brevia',Helvetica,Arial,sans-serif;font-size:1.6rem;padding-bottom:1rem;text-transform:uppercase}
.sample-form-container .wFormContainer .wForm fieldset{border:1px solid #cacaca}
.sample-form-container .wFormContainer .wForm select{border-radius:8px;padding:1rem;height:auto;max-width:100%}
.sample-form-container .wFormContainer .wForm input{border-radius:8px;padding:1rem;height:auto;max-width:100%}
.sample-form-container .wFormContainer .wForm optgroup{font-size:1.6rem}
.sample-form-container .wFormContainer .wForm .oneField label{padding-bottom:.2rem}
.sample-form-container .wFormContainer .wForm .htmlSection{font-family:'Brevia',Helvetica,Arial,sans-serif;font-size:1.6rem}
.sample-form-container .wFormContainer .wForm .wFormTitle{color:#09f;font-size:3.2rem;font-weight:800}
.sample-form-container .wFormContainer .wForm .primaryAction{font-family:'Brevia',Helvetica,Arial,sans-serif;font-size:1.8rem;background-color:#09f;color:white;padding:1.5rem 3rem;border-radius:6px;-webkit-transition:background-color .2s ease-in-out;transition:background-color .2s ease-in-out;text-align:center}
.sample-form-container .wFormContainer .wForm .primaryAction:visited{color:white}
.sample-form-container .wFormContainer .wForm .primaryAction:hover{color:white;background-color:#1d426f}
.form-icons-container{padding:1rem 0;margin:0 auto}
.form-icons-row{text-align:center}
.form-icons-row:first-child{margin-left:-6rem}
.form-icons-row:nth-child(2){margin-right:-6rem}
.form-icon{cursor:pointer;display:inline-block;max-width:250px}
.form-icon img{display:block;padding:0 1rem}
.form-icons-msg{color:#09f;font-size:1.8rem;text-align:center;margin-top:2rem;margin-bottom:0}
.form-icon-modal{display:none;position:absolute;width:100%;max-width:500px;border-radius:6px;background-color:white;padding:3rem 3rem;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);top:140px;-webkit-box-shadow:0 3px 6px #002a4c;box-shadow:0 3px 6px #002a4c}
.form-icon-modal p{margin:1rem 0 0 0}
.form-icon-title{color:#09f;font-size:2.8rem;font-weight:500;margin:0}
@media screen and (min-width:37.5em){.menu-toggle{display:none}
.main-navigation ul{display:block}
}@media screen and (max-width:1279.98px){.footer-feature{-ms-flex-wrap:wrap;flex-wrap:wrap}
.footer-feature img{width:100%;max-width:50rem}
.footer-dha img{width:100%;max-width:40rem}
}@media screen and (max-width:959.98px){.header-container{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.header-branding{width:80px}
.header-mobile-btn{display:block}
.header-controls{display:none;-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;padding:0}
.header-menu{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:1rem 0}
.header-social-icon{width:40px;height:40px;margin:1.4rem 2rem}
.header-lang-switch{display:block;width:100%;padding:0 2rem}
.header-lang-switch>select{border:1px solid #002a4c;padding:1.4rem 1rem;margin:.5rem 0 1rem;font-size:1.6rem;width:100%}
.header-lang-switch>select>option{background-color:#002a4c}
.header-lang-switch>select:hover{background-color:#002a4c}
.header-search{display:none}
.header-nav-links{margin:0 auto;padding:1rem 0;background-color:white}
.header-nav-links>li{display:block;font-size:1.8rem}
.header-nav-links>li>a{display:block;padding:1rem 2rem;color:#002a4c}
.nav-link-products:hover{background-color:transparent}
.nav-link-products:hover .sub-menu{display:none}
.nav-link-products .sub-menu{display:none;position:relative}
.nav-link-products .sub-menu>li{background-color:white}
.nav-link-products .sub-menu>li>a{display:block;color:#002a4c;padding-left:4rem}
.nav-link-products .sub-menu>li:hover{background-color:transparent}
.nav-link-products .sub-menu>li:last-child{border-radius:0}
.nav-products-dd{display:block}
.home-cta-content-title{font-size:2.4rem}
.products-header{background:linear-gradient(-40deg,#2087ca,#aedbf0);text-shadow:0 1px 2px #002a4c}
.products-header-title{-ms-flex-preferred-size:auto;flex-basis:auto;margin-left:auto;margin-right:auto;text-align:center}
.products-image-container{-ms-flex-preferred-size:100%;flex-basis:100%}
.products-image-container>img{margin:0 auto}
.products-header-source{text-align:center}
.product-info-content{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.product-content-box{border-left:0;border-top:1px solid #cacaca}
.articles-cat-item{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.articles-cat-item>img{-ms-flex-preferred-size:100%;flex-basis:100%;min-height:160px}
.articles-cat-item-desc{-ms-flex-preferred-size:100%;flex-basis:100%;padding:3rem 2rem}
.article-post-container{-ms-flex-preferred-size:50%;flex-basis:50%}
.article-heading{font-size:2.4rem}
.article-heading.main{font-size:3.2rem}
.article-subheading{font-size:1.6rem}
.article-content p{font-size:1.4rem}
.article-single-content-container{-ms-flex-preferred-size:100%;flex-basis:100%}
.article-single-sidebar-container{-ms-flex-preferred-size:100%;flex-basis:100%;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.article-single-sidebar-container .article-post-container{-ms-flex-preferred-size:50%;flex-basis:50%}
.article-single-readmore{-ms-flex-preferred-size:100%;flex-basis:100%}
}@media screen and (max-width:767.98px){.main-container{padding:2rem .5rem}
.sm-header{height:300px}
.sm-header-responsive{display:none}
.sm-header-responsive.mobile{display:block}
.sm-header-content p{font-size:1.6rem}
.sm-header-title{font-size:3.6rem}
.not-found-title{font-size:3.6rem}
.not-found-desc{font-size:1.8rem}
.under-construction-title{font-size:3.2rem}
.important-notice-title{font-size:3.2rem}
.thankyou-msg h1,.thankyou-msg h2,.thankyou-msg h3,.thankyou-msg h4,.thankyou-msg h5,.thankyou-msg h6{font-size:2.4rem}
.thankyou-msg{font-size:1.6rem}
.footer-feature img{max-width:40rem}
.footer-dha img{max-width:30rem}
.footer-dha-title{font-size:3rem}
.footer-info{text-align:center}
.footer-bottom{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.footer-nav-links{padding:2rem 0 1rem}
.home-carousel-container.slick-slider{display:none}
.home-carousel-container.slick-slider.mobile{display:block}
.home-content-box.cta{-ms-flex-preferred-size:100%;flex-basis:100%}
.home-content-box.vid{-ms-flex-preferred-size:100%;flex-basis:100%}
.products-main-info-title{font-size:3rem}
.products-range{-ms-flex-wrap:wrap;flex-wrap:wrap}
.product-header{text-align:center}
.product-header-image{max-width:80%}
.product-header-title{position:relative}
.articles-header{height:300px}
.articles-header-content p{font-size:1.6rem}
.articles-header-title{font-size:3.6rem}
.articles-cat-item-desc p{font-size:1.4rem}
.articles-cat-item-title{font-size:2rem}
.article-single-content{font-size:1.4rem}
.faq-title{font-size:3.6rem}
.faq-question{font-size:1.6rem}
.faq-answer{font-size:1.4rem}
.search-results-title{font-size:3.6rem}
.search-result-item-container{-ms-flex-preferred-size:100%;flex-basis:100%}
.contact-item-container{-ms-flex-preferred-size:100%;flex-basis:100%}
.form-icons-row:first-child{margin:0}
.form-icons-row:nth-child(2){margin:0}
}@media screen and (max-width:575.98px){.sm-header-content p{display:none}
.important-notice{top:0}
.footer-site-link{width:120px}
.home-cta-content-title{font-size:2rem}
.home-cta-content-desc{display:none}
.products-header-title{font-size:2.4rem}
.products-main-info{max-width:100%}
.products-main-info p{font-size:1.4rem}
.product-header-image{max-width:100%}
.product-info-tabs .sm-btn-tab{font-size:1.4rem;padding:1rem;margin:0 .5rem}
.product-content-box.key{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.product-content-image{width:100%;max-width:300px}
.articles-header-content p{display:none}
.article-post-container{-ms-flex-preferred-size:100%;flex-basis:100%}
.article-single-sidebar-container .article-post-container{-ms-flex-preferred-size:100%;flex-basis:100%}
}